body{

  background-color: #eee !important;


  .customDiv {
    box-shadow: 0px 0px 15px 5px rgba(22, 17, 17, 0.3);
    background-color: #e9e9e9;
    border-radius: 5px;
    margin-top:20px;

    .sectionTitle{
      background-color:#555;
      border-top-left-radius:5px;
      border-top-right-radius: 5px;
      padding:5px;
      color:#aaa;
    }

    .btn{
      margin: 10px;
    }

    .placesWrapper{

      padding-left: 10px;
      padding-right: 10px;

      .place{

      }

    }

    .vigilantsWrapper{

      padding-left: 10px;
      padding-right: 10px;

      .vigilant{

      }
    }

    .resumeWrapper{

      padding-left: 10px;
      padding-right: 10px;

    }


  }

  label{
    font-size:12px;
    margin:0;
    padding:0;
  }

  .fas{
    font-size:15px;
  }

  .nav-item, a {

    background-color: #e9e9e9 !important;
    color: #333 !important;

    :link {
      text-decoration: none !important;
      color: #9696d3 !important;
    }
    :visited {
      text-decoration: none !important;
      color: #2d3456 !important;
    }
    :hover {
      text-decoration: none !important;
      cursor: pointer !important;
      color: #7587d8 !important;
    }
    .active {
      background-color: #555 !important;
      text-decoration: none !important;
      color: #ddddff !important;
    }
  }  

  .btnCalendar{      
    max-height: 30px;
    max-width: 30px;
    margin: 0 !important;
    color:rgb(200, 30, 30);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
  }
  .btn {
    background-color: #777 !important;
    color: #ddd !important;
    outline: none !important;
    box-shadow: none !important;

    :visited {
      text-decoration: none !important;
      color: #2d3456 !important;
    }
    :hover {
      background-color: #888 !important;
      text-decoration: none !important;
      cursor: pointer !important;
      color: #7587d8 !important;
    }


  }

  .darkBg{
    background-color: rgba(0, 0, 0, 0.6);
  }
}
